.text{
    -fx-fill:#D4D4D4;
}

.keyword {
    -fx-fill: #569CD6;
    -fx-font-weight: bold;
}

.numbers{
    -fx-fill:#B5CEA8;
}

.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: #DCDCAA;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #CE9178;
}

.comment {
    -fx-fill: #6A9955;
}

.variables{
    -fx-fill:#9CDCFE;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
